<header id="navbar">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Virtual Table</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/game">Games</a></li>
                <% if (user_name != null){ %>
                    <li><a href="/game/new">Create Game</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Content Mangement
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Races</a></li>
                          <li><a href="#">Items</a></li>
                          <li><a href="/content/spell">Spells</a></li>
                          <li><a href="/content/sbook">Source Books</a></li>
                        </ul>
                    </li>
                    <li><a href="/character/">Characters</a></li>
                <%}%>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <% if (user_name != null){ %>
                    <li> <a>Welcome <%=user_name%></a></li>
                    <li><a href="/user/logout">Logout</a></li>
                <% } else{%>
                    <li><a href="/user/new"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="/user/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <%}%>
            </ul>
        </div>
    </nav>
</header>