
<div class="form-group">
    <label for="name"> Username:</label>
    <input required autocomplete="off" type="text" name="name" value=""class="form-control" id="name">
</div>
<div class="form-group">
    <label for="pwd"> Password:</label>
    <input required autocomplete="off" type="password" name="pass" value=""class="form-control" id="pwd">
</div>
<div class="checkbox">
    <label><input type="checkbox" name="remember"> Remember me</label>
  </div>

