<div class="col-sm-3"></div>
<div class="col-sm-6" style="text-align: center;">

<h3>
    All Spells
</h3>
<a class="btn btn-primary" href="/content/spell/new" role="button">New Spell</a>


<div style="text-align: center;">
    <% if (spells.length == 0){ %> 
        <div><b>There Are No Spells Perhaps You Should Create One</b></div>
    <%}%>
    <% spells.forEach(spell => { %>
        <div><a href="/content/spell/view/<%=spell._id%>"<b><%= spell.name %></b></a>
        <b>(<%= spell.source_book.short_name%>)</b></div>
        <%});%>
    </div>
</div>
