<div class="col-sm-1"></div>
<div class="col-sm-10" style="text-align: center;">
	<h2>Your Spell Lists</h2>
	<a class="btn btn-primary" href="new" role="button">New SpellList</a>
	<% spellLists.forEach(spellList => { %>
	<div><a href="view/<%=spellList._id%>?Concentration=0&Material=0"><%=spellList.name%></a></div>
	<%});%>
</div>
