
<div class="form-group">
    <label for="name"> Name</label>
    <input autocomplete="off" type="text" name="name" value="<%= game.name %>"class="form-control" id="name">
</div>
<div class="form-group">
    <label for="pwd"> Password</label>
    <input autocomplete="off" type="password" name="pass" value="<%= game.name %>"class="form-control" id="pwd">
</div>
<div class="form-group">
    <label for="cover"> Cover Page</label>
    <input type="file" name="cover" id="cover">
</div>
<div class="form-group">
    <label for="disc"> Description</label>
    <textarea name="description" class="form-control" id="disc"></textarea>
</div>


